Repository LacusSolutions/br-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md, eslint --fix

.lintstagedrc:

{
  "./LICENSE": [
    "node -e \"const fs = require('fs'); const path = require('path'); fs.readdirSync('./packages').forEach(pkg => { const dest = path.join('./packages', pkg, 'LICENSE'); if (fs.statSync(path.join('./packages', pkg)).isDirectory()) { fs.copyFileSync('./LICENSE', dest); } })\"",
    "git add **/LICENSE"
  ],
  "./README.md": [
    "node -e \"fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')\"",
    "git add ./packages/br-utils/README.md"
  ],
  "./packages/br-utils/README.md": [
    "node -e \"fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')\"",
    "git add ./README.md"
  ],
  "*.{js,cjs,mjs,ts,mts}": [
    "eslint --fix"
  ]
}

chore(cpf-fmt): update project metadata
  packages/cpf-fmt/package.json
Due: none

feat(cpf-fmt): implement new API
  packages/cpf-fmt/src/cpf-fmt.ts
  packages/cpf-fmt/src/cpf-formatter-options.ts
  packages/cpf-fmt/src/cpf-formatter.ts
  packages/cpf-fmt/src/exceptions.ts
  packages/cpf-fmt/src/index.cjs.ts
  packages/cpf-fmt/src/index.esm.ts
  packages/cpf-fmt/src/index.ts
  packages/cpf-fmt/src/index.umd.ts
  packages/cpf-fmt/src/merge-options.ts
  packages/cpf-fmt/src/types.ts
  packages/cpf-fmt/src/utils.ts
Due: eslint --fix

build(cpf-fmt): update Rollup config
  packages/cpf-fmt/rollup.config.mjs
Due: eslint --fix

test(cpf-fmt): implement test cases to the new API
  packages/cpf-fmt/tests/__coverage__/lcov.info
  packages/cpf-fmt/tests/cpf-fmt.spec.ts
  packages/cpf-fmt/tests/cpf-formatter-options.spec.ts
  packages/cpf-fmt/tests/cpf-formatter.spec.ts
  packages/cpf-fmt/tests/dist.test.ts
  packages/cpf-fmt/tests/exceptions.spec.ts
  packages/cpf-fmt/tests/exceptions.test.ts
  packages/cpf-fmt/tests/options.test.ts
  packages/cpf-fmt/tests/output.spec.ts
  packages/cpf-fmt/tests/utils.spec.ts
Due: eslint --fix

docs(cpf-fmt): update README
  packages/cpf-fmt/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-fmt): create a Portuguese version of README
  packages/cpf-fmt/README.pt.md
Due: none

chore(cpf-fmt): update package deps
  bun.lock
Due: none

docs(cnpj-fmt): fix JSdocs wording
  packages/cnpj-fmt/src/cnpj-formatter-options.ts
Due: eslint --fix

docs(cpf-fmt): fix JSdocs wording
  packages/cpf-fmt/src/cpf-formatter-options.ts
Due: eslint --fix

docs(cpf-fmt): fix JSdocs default values annotations
  packages/cpf-fmt/src/types.ts
Due: eslint --fix

test(cpf-fmt): update coverage report
  packages/cpf-fmt/tests/__coverage__/lcov.info
Due: none

chore(cpf-fmt): create changeset for v3
  .changeset/twenty-hands-join.md
Due: none

docs(cpf-fmt): fix JSdocs consistency
  packages/cpf-fmt/src/types.ts
Due: eslint --fix

docs(cnpj-fmt): update package description
  packages/cnpj-fmt/README.md
  packages/cnpj-fmt/README.pt.md
  packages/cnpj-fmt/package.json
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

feat(cnpj-dv): simplify type evaluation
  packages/cnpj-dv/src/utils.ts
  packages/cnpj-dv/tests/utils.spec.ts
Due: eslint --fix

refactor(cnpj-dv): prefix protected method with `_`
  packages/cnpj-dv/src/cnpj-check-digits.ts
  packages/cnpj-dv/tests/cnpj-check-digits.spec.ts
Due: eslint --fix

docs(cnpj-dv): add JSdocs
  packages/cnpj-dv/src/types.ts
Due: eslint --fix

docs(cnpj-dv): add JSdocs
  packages/cnpj-dv/src/cnpj-check-digits.ts
  packages/cnpj-dv/src/exceptions.ts
Due: eslint --fix

test(cnpj-dv): create tests
  packages/cnpj-dv/tests/exceptions.spec.ts
Due: eslint --fix

chore(cnpj-dv): update test script
  packages/cnpj-dv/package.json
Due: none

chore: update overall dependencies
  bun.lock
  package.json
Due: none

docs: review all JSdocs
  packages/cnpj-dv/src/cnpj-check-digits.ts
  packages/cnpj-dv/src/exceptions.ts
  packages/cnpj-dv/src/types.ts
  packages/cnpj-dv/src/utils.ts
  packages/cnpj-fmt/src/cnpj-fmt.ts
  packages/cnpj-fmt/src/cnpj-formatter-options.ts
  packages/cnpj-fmt/src/cnpj-formatter.ts
  packages/cnpj-fmt/src/exceptions.ts
  packages/cnpj-fmt/src/types.ts
  packages/cnpj-fmt/src/utils.ts
  packages/cnpj-gen/src/number-generator.ts
  packages/cpf-dv/src/cpf-check-digits.ts
  packages/cpf-dv/src/exceptions.ts
  packages/cpf-dv/src/types.ts
  packages/cpf-dv/src/utils.ts
  packages/cpf-dv/tests/cpf-check-digits.spec.ts
  packages/cpf-dv/tests/exceptions.spec.ts
  packages/cpf-dv/tests/utils.spec.ts
  packages/cpf-fmt/src/cpf-fmt.ts
  packages/cpf-fmt/src/cpf-formatter-options.ts
  packages/cpf-fmt/src/cpf-formatter.ts
  packages/cpf-fmt/src/exceptions.ts
  packages/cpf-fmt/src/types.ts
  packages/cpf-fmt/src/utils.ts
  packages/cpf-gen/src/number-generator.ts
  rollup.config.mjs
Due: eslint --fix

docs(cnpj-dv): update README
  packages/cnpj-dv/README.md
  packages/cnpj-dv/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-fmt): update README
  packages/cnpj-fmt/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

chore(cnpj-fmt): update test script
  packages/cnpj-fmt/package.json
Due: none

chore(cpf-fmt): update test script
  packages/cpf-fmt/package.json
Due: none

docs(cpf-fmt): update README
  packages/cpf-fmt/README.md
  packages/cpf-fmt/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-dv): update README
  packages/cpf-dv/README.md
  packages/cpf-dv/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

chore(cpf-dv): update package description
  packages/cpf-dv/package.json
Due: none

test: update coverage report
  packages/cnpj-dv/tests/__coverage__/lcov.info
  packages/cnpj-fmt/tests/__coverage__/lcov.info
  packages/cnpj-gen/tests/__coverage__/lcov.info
  packages/cnpj-val/tests/__coverage__/lcov.info
  packages/cpf-dv/tests/__coverage__/lcov.info
  packages/cpf-fmt/tests/__coverage__/lcov.info
  packages/cpf-gen/tests/__coverage__/lcov.info
  packages/cpf-val/tests/__coverage__/lcov.info
Due: none

docs(cnpj-fmt): fix typo in JSdocs
  packages/cnpj-fmt/src/types.ts
Due: eslint --fix

docs(cnpj-dv): fix typo in JSdocs
  packages/cnpj-dv/src/types.ts
Due: eslint --fix

docs(cnpj-dv): improve wording in pt-BR
  packages/cnpj-dv/README.pt.md
Due: none

docs(cnpj-fmt): fix typo in JSdocs
  packages/cnpj-fmt/src/exceptions.ts
Due: eslint --fix

docs(cnpj-dv): fix wording
  packages/cnpj-dv/README.md
  packages/cnpj-dv/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-dv): fix wording
  packages/cpf-dv/README.md
  packages/cpf-dv/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-dv): fix docs inconsistency
  packages/cpf-dv/src/cpf-check-digits.ts
Due: eslint --fix

docs(cpf-dv): fix JSdocs typo
  packages/cpf-dv/src/exceptions.ts
Due: eslint --fix

docs(cnpj-dv): fix typo
  packages/cnpj-dv/README.pt.md
Due: none

docs(cnpj-dv): fix wording
  packages/cnpj-dv/src/cnpj-check-digits.ts
  packages/cnpj-dv/src/exceptions.ts
Due: eslint --fix
