Repository LacusSolutions/br-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md, eslint --fix

feat(cpf-gen): create helper function to make it easier to use the lib
  packages/cpf-gen/src/cpf-gen.ts
  packages/cpf-gen/tests/cpf-gen.spec.ts
Due: eslint --fix

feat(cpf-gen): set resources set for each output type (ESM, CJS & UMD)
  packages/cpf-gen/src/index.cjs.ts
  packages/cpf-gen/src/index.esm.ts
  packages/cpf-gen/src/index.umd.ts
Due: eslint --fix

chore(cpf-gen): drop legacy codebase
  packages/cpf-gen/src/index.ts
  packages/cpf-gen/src/merge-options.ts
  packages/cpf-gen/src/number-generator.ts
  packages/cpf-gen/tests/dist.test.ts
  packages/cpf-gen/tests/exceptions.test.ts
  packages/cpf-gen/tests/options.test.ts
Due: eslint --fix

build(cpf-gen): update build process config
  packages/cpf-gen/package.json
  packages/cpf-gen/rollup.config.mjs
Due: eslint --fix

test(cpf-gen): create tests for distribution bundles
  packages/cpf-gen/tests/output.spec.ts
Due: eslint --fix

test(cpf-gen): update coverage report
  packages/cpf-gen/tests/__coverage__/lcov.info
Due: none

docs(cpf-gen): update README documentation
  packages/cpf-gen/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-gen): create README in Portuguese
  packages/cpf-gen/README.pt.md
Due: none

docs(cpf-gen): add changesets for new major version
  .changeset/twenty-hands-laugh.md
Due: none

docs(cpf-gen): fix JSdocs
  packages/cpf-gen/src/cpf-generator-options.ts
Due: eslint --fix

docs(cpf-gen): fix JSdocs
  packages/cpf-gen/src/types.ts
Due: eslint --fix

refactor: fix unreachable peace of code
  packages/cnpj-dv/src/utils.ts
  packages/cnpj-dv/tests/__coverage__/lcov.info
  packages/cnpj-fmt/src/utils.ts
  packages/cnpj-fmt/tests/__coverage__/lcov.info
  packages/cnpj-gen/src/utils.ts
  packages/cnpj-gen/tests/__coverage__/lcov.info
  packages/cpf-dv/src/utils.ts
  packages/cpf-dv/tests/__coverage__/lcov.info
  packages/cpf-fmt/src/utils.ts
  packages/cpf-fmt/tests/__coverage__/lcov.info
  packages/cpf-gen/src/utils.ts
  packages/cpf-gen/tests/__coverage__/lcov.info
Due: eslint --fix

test(cpf-gen): fix test case description
  packages/cpf-gen/tests/cpf-generator.spec.ts
Due: eslint --fix

refactor(cpf-gen): remove unnecessary conditional
  packages/cpf-gen/src/cpf-generator-options.ts
  packages/cpf-gen/tests/__coverage__/lcov.info
Due: eslint --fix

docs(cpf-gen): fix JSdocs typo
  packages/cpf-gen/src/cpf-gen.ts
Due: eslint --fix

feat(cnpj-val): create utilities for internal use
  packages/cnpj-val/src/utils.ts
  packages/cnpj-val/tests/utils.spec.ts
Due: eslint --fix

chore(cnpj-val): update package metadata
  bun.lock
  packages/cnpj-val/package.json
Due: none

refactor(cnpj-fmt): move class member
  packages/cnpj-fmt/src/cnpj-formatter.ts
  packages/cnpj-fmt/tests/__coverage__/lcov.info
Due: eslint --fix

fix(cnpj-dv): add `readonly` to immutable array argument
  packages/cnpj-dv/src/types.ts
Due: eslint --fix

fix(cnpj-fmt): add `readonly` to immutable array argument
  packages/cnpj-fmt/src/types.ts
Due: eslint --fix

fix(cpf-dv): add `readonly` to immutable array argument
  packages/cpf-dv/src/types.ts
Due: eslint --fix

fix(cpf-fmt): add `readonly` to immutable array argument
  packages/cpf-fmt/src/types.ts
Due: eslint --fix

refactor(cnpj-gen): move class member
  packages/cnpj-gen/src/cnpj-generator.ts
  packages/cnpj-gen/tests/__coverage__/lcov.info
  packages/cnpj-gen/tests/cnpj-generator.spec.ts
Due: eslint --fix

refactor(cpf-fmt): move class member
  packages/cpf-fmt/src/cpf-formatter.ts
  packages/cpf-fmt/tests/__coverage__/lcov.info
Due: eslint --fix

refactor(cpf-gen): move class member
  packages/cpf-gen/src/cpf-generator.ts
  packages/cpf-gen/tests/__coverage__/lcov.info
  packages/cpf-gen/tests/cpf-generator.spec.ts
Due: eslint --fix

feat(cnpj-val): create base types, errors and exceptions
  packages/cnpj-val/src/exceptions.ts
  packages/cnpj-val/src/types.ts
  packages/cnpj-val/tests/exceptions.spec.ts
Due: eslint --fix

feat(cnpj-val): create resource to manage options
  packages/cnpj-val/src/cnpj-validator-options.ts
  packages/cnpj-val/tests/cnpj-validator-options.spec.ts
Due: eslint --fix

feat(cnpj-val): create main validator class
  packages/cnpj-val/src/cnpj-validator.ts
  packages/cnpj-val/tests/cnpj-validator.spec.ts
Due: eslint --fix

feat(cnpj-val): create helper function to simpler use of validator
  packages/cnpj-val/src/cnpj-val.ts
  packages/cnpj-val/tests/cnpj-val.spec.ts
Due: eslint --fix

feat(cnpj-val): define package entrypoints
  packages/cnpj-val/package.json
  packages/cnpj-val/rollup.config.mjs
  packages/cnpj-val/src/index.cjs.ts
  packages/cnpj-val/src/index.esm.ts
  packages/cnpj-val/src/index.umd.ts
Due: eslint --fix

chore(cnpj-val): drop legacy codebase
  packages/cnpj-val/src/index.ts
  packages/cnpj-val/tests/cnpj-val.test.ts
  packages/cnpj-val/tests/dist.test.ts
Due: eslint --fix

test(cnpj-val): create tests for distribution files
  packages/cnpj-val/tests/output.spec.ts
Due: eslint --fix

test(cnpj-val): update coverage report
  packages/cnpj-val/tests/__coverage__/lcov.info
Due: none

docs(cnpj-val): update README documentation
  packages/cnpj-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-val): create Portuguese version of README documentation
  packages/cnpj-val/README.pt.md
Due: none

docs(cnpj-val): create changelog for new major version
  .changeset/twenty-hands-melt.md
Due: none

test(cnpj-val): fix type
  packages/cnpj-val/tests/cnpj-validator.spec.ts
Due: eslint --fix

Path conditions:
  git add **/LICENSE: any of: ./LICENSE
  node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')": any of: ./README.md
  git add ./packages/br-utils/README.md: any of: ./README.md
  node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')": any of: ./packages/br-utils/README.md
  git add ./README.md: any of: ./packages/br-utils/README.md
  eslint --fix: any of: *.{js,cjs,mjs,ts,mts}
