Repository LacusSolutions/br-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md, eslint --fix

.lintstagedrc:

{
  "./LICENSE": [
    "node -e \"const fs = require('fs'); const path = require('path'); fs.readdirSync('./packages').forEach(pkg => { const dest = path.join('./packages', pkg, 'LICENSE'); if (fs.statSync(path.join('./packages', pkg)).isDirectory()) { fs.copyFileSync('./LICENSE', dest); } })\"",
    "git add **/LICENSE"
  ],
  "./README.md": [
    "node -e \"fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')\"",
    "git add ./packages/br-utils/README.md"
  ],
  "./packages/br-utils/README.md": [
    "node -e \"fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')\"",
    "git add ./README.md"
  ],
  "*.{js,cjs,mjs,ts,mts}": [
    "eslint --fix"
  ]
}

test(cnpj-val): add missing tests
  packages/cnpj-val/tests/cnpj-validator.spec.ts
Due: eslint --fix

docs(cnpj-val): fix grammar
  .changeset/twenty-hands-melt.md
Due: none

revert(cnpj-dv): undo union type change
  packages/cnpj-dv/src/types.ts
Due: eslint --fix

docs(cnpj-val): fix misleading example
  packages/cnpj-val/README.md
  packages/cnpj-val/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

refactor(cnpj-gen): add `readonly` type modifier for consistency
  packages/cnpj-gen/src/cnpj-generator-options.ts
Due: eslint --fix

refactor(cnpj-val): add `readonly` type modifier for consistency
  packages/cnpj-val/src/cnpj-validator-options.ts
Due: eslint --fix

docs(cnpj-val): fix JSdocs
  packages/cnpj-val/src/cnpj-validator-options.ts
Due: eslint --fix

docs(cnpj-val): fix JSdocs
  packages/cnpj-val/src/cnpj-validator.ts
Due: eslint --fix

docs(cnpj-val): fix JSdocs
  packages/cnpj-val/src/exceptions.ts
Due: eslint --fix

test(cnpj-val): fixtest case description
  packages/cnpj-val/tests/cnpj-val.spec.ts
Due: eslint --fix

test(cnpj-val): fix mock data factory
  packages/cnpj-val/tests/cnpj-validator.spec.ts
Due: eslint --fix

test(cnpj-val): remove duplicate test case
  packages/cnpj-val/tests/output.spec.ts
Due: eslint --fix

revert(cpf-dv): fix erroneous union type
  packages/cpf-dv/src/types.ts
Due: eslint --fix

revert(cpf-fmt): fix erroneous union type
  packages/cpf-fmt/src/types.ts
Due: eslint --fix

feat(cnpj-fmt): throw input type error
  packages/cnpj-fmt/README.md
  packages/cnpj-fmt/README.pt.md
  packages/cnpj-fmt/src/cnpj-formatter.ts
  packages/cnpj-fmt/src/types.ts
  packages/cnpj-fmt/tests/__coverage__/lcov.info
  packages/cnpj-fmt/tests/cnpj-formatter.spec.ts
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

feat(cpf-fmt): throw input type error
  packages/cpf-fmt/README.md
  packages/cpf-fmt/README.pt.md
  packages/cpf-fmt/src/cpf-formatter.ts
  packages/cpf-fmt/src/types.ts
  packages/cpf-fmt/tests/__coverage__/lcov.info
  packages/cpf-fmt/tests/cpf-formatter.spec.ts
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

docs(cnpj-val): add missing JSdocs tag
  packages/cnpj-val/src/cnpj-val.ts
  packages/cnpj-val/src/cnpj-validator.ts
Due: eslint --fix

fix(cnpj-val): analyze array members types before going on with algorithm
  packages/cnpj-val/src/cnpj-validator.ts
  packages/cnpj-val/tests/__coverage__/lcov.info
Due: eslint --fix

docs(cnpj-fmt): fix API reference
  packages/cnpj-fmt/README.md
  packages/cnpj-fmt/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-fmt): fix API reference
  packages/cpf-fmt/README.md
  packages/cpf-fmt/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

fix(cnpj-fmt): fix argument passed to `onFail` callback
  packages/cnpj-fmt/src/cnpj-formatter.ts
  packages/cnpj-fmt/tests/__coverage__/lcov.info
Due: eslint --fix

fix(cpf-fmt): fix argument passed to `onFail` callback
  packages/cpf-fmt/src/cpf-formatter.ts
  packages/cpf-fmt/tests/__coverage__/lcov.info
Due: eslint --fix

refactor(cnpj-gen): add explicit type
  packages/cnpj-gen/src/cnpj-generator-options.ts
Due: eslint --fix

refactor(cnpj-val): add explicit type
  packages/cnpj-val/src/cnpj-validator-options.ts
Due: eslint --fix

docs(cnpj-fmt): fix JSdocs
  packages/cnpj-fmt/src/types.ts
Due: eslint --fix

docs(cpf-fmt): fix JSdocs
  packages/cpf-fmt/src/types.ts
Due: eslint --fix

refactor(cnpj-fmt): rename variable for consistency
  packages/cnpj-fmt/README.md
  packages/cnpj-fmt/README.pt.md
  packages/cnpj-fmt/src/cnpj-formatter.ts
  packages/cnpj-fmt/src/types.ts
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

refactor(cpf-fmt): rename variable for consistency
  packages/cpf-fmt/README.md
  packages/cpf-fmt/README.pt.md
  packages/cpf-fmt/src/cpf-formatter.ts
  packages/cpf-fmt/src/types.ts
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

docs(cnpj-dv): fix example
  packages/cnpj-dv/README.md
  packages/cnpj-dv/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-val): fix example
  packages/cnpj-val/README.md
  packages/cnpj-val/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-dv): fix example
  packages/cpf-dv/README.md
  packages/cpf-dv/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

test(cnpj-val): fix test case description
  packages/cnpj-val/tests/cnpj-validator.spec.ts
Due: eslint --fix

test(cnpj-fmt): update test coverage
  packages/cnpj-fmt/tests/__coverage__/lcov.info
Due: none

test(cpf-fmt): update test coverage
  packages/cpf-fmt/tests/__coverage__/lcov.info
Due: none

chore: define set of files to be uploaded to NPM registry
  packages/br-utils/.npmignore
  packages/cnpj-dv/.npmignore
  packages/cnpj-dv/package.json
  packages/cnpj-fmt/.npmignore
  packages/cnpj-fmt/package.json
  packages/cnpj-gen/.npmignore
  packages/cnpj-gen/package.json
  packages/cnpj-utils/.npmignore
  packages/cnpj-val/.npmignore
  packages/cnpj-val/package.json
  packages/cpf-dv/.npmignore
  packages/cpf-dv/package.json
  packages/cpf-fmt/.npmignore
  packages/cpf-fmt/package.json
  packages/cpf-gen/.npmignore
  packages/cpf-gen/package.json
  packages/cpf-utils/.npmignore
  packages/cpf-val/.npmignore
  packages/cpf-val/package.json
Due: none

test: update test cases wording
  packages/cnpj-dv/tests/output.spec.ts
  packages/cnpj-fmt/tests/output.spec.ts
  packages/cnpj-gen/tests/output.spec.ts
  packages/cnpj-val/tests/output.spec.ts
  packages/cpf-dv/tests/output.spec.ts
  packages/cpf-fmt/tests/output.spec.ts
  packages/cpf-gen/tests/output.spec.ts
Due: eslint --fix

chore(cpf-val): drop legacy codebase
  packages/cpf-val/src/index.ts
  packages/cpf-val/tests/cpf-val.test.ts
  packages/cpf-val/tests/dist.test.ts
Due: eslint --fix

feat(cpf-val): implement class-based validator
  packages/cpf-val/src/cpf-validator.ts
  packages/cpf-val/src/types.ts
  packages/cpf-val/tests/cpf-validator.spec.ts
Due: eslint --fix

feat(cpf-val): create helper function to make it easier to use the package
  packages/cpf-val/src/cpf-val.ts
  packages/cpf-val/tests/cpf-val.spec.ts
Due: eslint --fix

build(cpf-val): define external API and output files
  packages/cpf-val/package.json
  packages/cpf-val/rollup.config.mjs
  packages/cpf-val/src/index.cjs.ts
  packages/cpf-val/src/index.esm.ts
  packages/cpf-val/src/index.umd.ts
Due: eslint --fix
