Repository LacusSolutions/br-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md, eslint --fix

feat(cnpj-fmt): create class to manage formatting options
  packages/cnpj-fmt/src/cnpj-formatter-options.ts
  packages/cnpj-fmt/src/types.ts
  packages/cnpj-fmt/tests/cnpj-formatter-options.spec.ts
  packages/cnpj-fmt/tests/exceptions.test.ts
  packages/cnpj-fmt/tests/options.test.ts
Due: eslint --fix

chore: update linting presets
  bun.lock
  package.json
Due: none

refactor(cnpj-fmt): create a type alias
  packages/cnpj-fmt/src/cnpj-formatter-options.ts
  packages/cnpj-fmt/src/types.ts
  packages/cnpj-fmt/tests/cnpj-formatter-options.spec.ts
Due: eslint --fix

test(cnpj-fmt): add tests for options overrides
  packages/cnpj-fmt/src/cnpj-formatter-options.ts
  packages/cnpj-fmt/tests/cnpj-formatter-options.spec.ts
Due: eslint --fix

refactor(cnpj-fmt): moved redundant properties to superclass
  packages/cnpj-fmt/src/exceptions.ts
  packages/cnpj-fmt/tests/exceptions.spec.ts
Due: eslint --fix

feat: implement logic to format CNPJ
  packages/cnpj-fmt/src/cnpj-formatter.ts
  packages/cnpj-fmt/tests/cnpj-formatter-options.spec.ts
  packages/cnpj-fmt/tests/cnpj-formatter.spec.ts
Due: eslint --fix

refactor(cnpj-fmt): expose default options as static attributes of class
  packages/cnpj-fmt/src/cnpj-formatter-options.ts
  packages/cnpj-fmt/tests/cnpj-formatter-options.spec.ts
Due: eslint --fix

fix(cnpj-fmt): fix formatting when custom keys use multi-char values
  packages/cnpj-fmt/src/cnpj-formatter-options.ts
  packages/cnpj-fmt/src/cnpj-formatter.ts
  packages/cnpj-fmt/src/exceptions.ts
  packages/cnpj-fmt/tests/cnpj-formatter-options.spec.ts
  packages/cnpj-fmt/tests/cnpj-formatter.spec.ts
  packages/cnpj-fmt/tests/exceptions.spec.ts
Due: eslint --fix

feat(cnpj-fmt): create classic helper function
  packages/cnpj-fmt/src/cnpj-fmt.ts
  packages/cnpj-fmt/tests/cnpj-fmt.spec.ts
Due: eslint --fix

feat(cnpj-fmt): define external API
  packages/cnpj-fmt/rollup.config.mjs
  packages/cnpj-fmt/src/index.cjs.ts
  packages/cnpj-fmt/src/index.esm.ts
  packages/cnpj-fmt/src/index.ts
  packages/cnpj-fmt/src/index.umd.ts
Due: eslint --fix

test(cnpj-fmt): create tests for built files
  packages/cnpj-fmt/tests/dist.test.ts
  packages/cnpj-fmt/tests/output.spec.ts
Due: eslint --fix

test(cnpj-fmt): fix test
  packages/cnpj-fmt/tests/exceptions.spec.ts
Due: eslint --fix

test(cnpj-fmt): update coverage report
  packages/cnpj-fmt/tests/__coverage__/lcov.info
Due: none

fix(cnpj-fmt): fix misleading type for helper function input
  packages/cnpj-fmt/src/cnpj-fmt.ts
Due: eslint --fix

docs(cnpj-fmt): update README file
  packages/cnpj-fmt/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-fmt): create README in Brazilian Portuguese
  packages/cnpj-fmt/README.md
  packages/cnpj-fmt/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-fmt): add changeset
  .changeset/twenty-hands-go.md
Due: none

docs(cnpj-fmt): fix Node/Bun compatible versions
  packages/cnpj-fmt/README.md
  packages/cnpj-fmt/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-fmt): fix example inconsistency
  packages/cnpj-fmt/README.md
  packages/cnpj-fmt/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-fmt): fix JSdocs typo
  packages/cnpj-fmt/src/cnpj-formatter-options.ts
Due: eslint --fix

fix(cnpj-fmt): fix exception constructor input type
  packages/cnpj-fmt/src/cnpj-formatter.ts
  packages/cnpj-fmt/src/exceptions.ts
Due: eslint --fix

fix(cnpj-fmt): fix abstraction function input type
  packages/cnpj-fmt/src/index.cjs.ts
Due: eslint --fix

fix(cnpj-fmt): fix abstraction function input type
  packages/cnpj-fmt/src/index.umd.ts
Due: eslint --fix

docs(cnpj-fmt): fix JSdocs stale info
  packages/cnpj-fmt/src/utils.ts
Due: eslint --fix

test(cnpj-fmt): add test for default `onFail` callback
  packages/cnpj-fmt/tests/cnpj-formatter-options.spec.ts
Due: eslint --fix

test(cnpj-fmt): fix async code inside a `describe` block
  packages/cnpj-fmt/tests/output.spec.ts
Due: eslint --fix

test(cnpj-fmt): fix test case accuracy
  packages/cnpj-fmt/tests/utils.spec.ts
Due: eslint --fix

test(cnpj-fmt): fix test case description
  packages/cnpj-fmt/tests/utils.spec.ts
Due: eslint --fix

test(cnpj-fmt): drop duplicate test case
  packages/cnpj-fmt/tests/utils.spec.ts
Due: eslint --fix

docs(cnpj-fmt): fix example
  packages/cnpj-fmt/README.pt.md
Due: none

fix(cnpj-fmt): fix erroneous prop set
  packages/cnpj-fmt/src/cnpj-formatter-options.ts
Due: eslint --fix

refactor(cnpj-fmt): rename function argument
  packages/cnpj-fmt/src/index.cjs.ts
  packages/cnpj-fmt/src/index.umd.ts
Due: eslint --fix

chore(cnpj-fmt): update package description
  packages/cnpj-fmt/package.json
Due: none

docs(cnpj-fmt): fix docs with stale function signature
  packages/cnpj-fmt/README.md
  packages/cnpj-fmt/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-fmt): fix typo
  packages/cnpj-fmt/README.pt.md
Due: none

docs(cnpj-fmt): improve wording
  packages/cnpj-fmt/README.pt.md
Due: none

chore(cpf-fmt): update files set sent to NPM registry
  packages/cpf-fmt/.npmignore
Due: none

Path conditions:
  git add **/LICENSE: any of: ./LICENSE
  node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')": any of: ./README.md
  git add ./packages/br-utils/README.md: any of: ./README.md
  node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')": any of: ./packages/br-utils/README.md
  git add ./README.md: any of: ./packages/br-utils/README.md
  eslint --fix: any of: *.{js,cjs,mjs,ts,mts}
