Repository LacusSolutions/br-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md, eslint --fix

.lintstagedrc:

{
  "./LICENSE": [
    "node -e \"const fs = require('fs'); const path = require('path'); fs.readdirSync('./packages').forEach(pkg => { const dest = path.join('./packages', pkg, 'LICENSE'); if (fs.statSync(path.join('./packages', pkg)).isDirectory()) { fs.copyFileSync('./LICENSE', dest); } })\"",
    "git add **/LICENSE"
  ],
  "./README.md": [
    "node -e \"fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')\"",
    "git add ./packages/br-utils/README.md"
  ],
  "./packages/br-utils/README.md": [
    "node -e \"fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')\"",
    "git add ./README.md"
  ],
  "*.{js,cjs,mjs,ts,mts}": [
    "eslint --fix"
  ]
}

ci: update external actions version
  .github/workflows/license-update.yml
Due: none

docs(utils): remove blank line
  packages/utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-dv): improve JSdocs
  packages/cnpj-dv/src/cnpj-check-digits.ts
Due: eslint --fix

refactor(cnpj-dv): rename private methods and encapsulate parsing logic
  packages/cnpj-dv/src/cnpj-check-digits.ts
Due: eslint --fix

docs(cpf-dv): improve JSdocs
  packages/cpf-dv/src/cpf-check-digits.ts
Due: eslint --fix

refactor(cpf-dv): rename private methods and encapsulate parsing logic
  packages/cpf-dv/src/cpf-check-digits.ts
Due: eslint --fix

ci: update workflow to disable credential persistence
  .github/workflows/license-update.yml
Due: none

chore: update AI basic harness
  AGENTS.md
Due: none

chore: define AI harnesses for the project
  AGENTS.md
  agents/README.md
  agents/aggregator-package.md
  agents/build-config.md
  agents/changelogs.md
  agents/ci-release.md
  agents/demo-pages.md
  agents/dependencies.md
  agents/domain-parity.md
  agents/jsdoc.md
  agents/new-package.md
  agents/package-arch.md
  agents/public-api.md
  agents/readme-docs.md
  agents/unit-tests.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs: move AI-related docs
  .context/README.md
  .context/aggregator-package.md
  .context/build-config.md
  .context/changelogs.md
  .context/ci-release.md
  .context/demo-pages.md
  .context/dependencies.md
  .context/domain-parity.md
  .context/jsdoc.md
  .context/new-package.md
  .context/package-arch.md
  .context/public-api.md
  .context/readme-docs.md
  .context/unit-tests.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(br-utils): improve docs
  .changeset/calm-herons-write.md
  README.md
  README.pt.md
  packages/br-utils/README.md
  packages/br-utils/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md

chore: add `.cursor/` to be ignored by Git
  .gitignore
Due: none

docs: enhance contribution guidelines with detailed references and clarify development setup
  CONTRIBUTING.md
Due: none

chore(utils): improve npm keywords in
  .changeset/warm-keys-expand.md
  packages/utils/package.json
Due: none

fix(cnpj-dv): adjust error message for CNPJ composition consistency
  .changeset/clear-cnpj-length-message.md
  packages/cnpj-dv/src/exceptions.ts
  packages/cnpj-dv/tests/exceptions.spec.ts
Due: eslint --fix

chore: update monorepo dependencies
  bun.lock
  package.json
Due: none

docs: update AI-contextualization docs
  AGENTS.md
  CONTRIBUTING.md
  context/README.md
  context/aggregator-package.md
  context/build-config.md
  context/changelogs.md
  context/ci-release.md
  context/demo-pages.md
  context/dependencies.md
  context/domain-parity.md
  context/jsdoc.md
  context/new-package.md
  context/package-arch.md
  context/public-api.md
  context/readme-docs.md
  context/unit-tests.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

chore: fix changesets
  .changeset/calm-herons-write.md
Due: none

ci: update GitHub Actions workflows to use latest third-party versions
  .github/workflows/ci.yml
  .github/workflows/license-update.yml
  .github/workflows/pr-author-assign.yml
  .github/workflows/release.yml
Due: none

docs(cnpj-utils): add Google Search verification file
  packages/cnpj-utils/demo/googleac9052d951903ca8.html
Due: none

docs(cpf-utils): add Google Search verification file
  packages/cpf-utils/demo/googleac9052d951903ca8.html
Due: none
