Repository LacusSolutions/br-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md, eslint --fix

docs(cpf-dv): fix wording
  packages/cpf-dv/src/exceptions.ts
Due: eslint --fix

chore: eliminate per-package dev dependencies
  bun.lock
  package.json
  packages/cnpj-dv/package.json
  packages/cnpj-fmt/package.json
  packages/cpf-dv/package.json
  packages/cpf-fmt/package.json
Due: none

ci: fix circular reference on internal dependencies
  bun.lock
  bunfig.toml
  packages/br-utils/package.json
  packages/cnpj-gen/package.json
  packages/cnpj-utils/package.json
  packages/cnpj-val/package.json
  packages/cpf-gen/package.json
  packages/cpf-utils/package.json
  packages/cpf-val/package.json
Due: none

feat(cnpj-gen): create utilities
  packages/cnpj-gen/src/types.ts
  packages/cnpj-gen/src/utils.ts
  packages/cnpj-gen/tests/utils.spec.ts
Due: eslint --fix

feat(cnpj-gen): create options manager for generator
  packages/cnpj-gen/src/cnpj-generator-options.ts
  packages/cnpj-gen/src/exceptions.ts
  packages/cnpj-gen/src/types.ts
  packages/cnpj-gen/tests/cnpj-generator-options.spec.ts
  packages/cnpj-gen/tests/exceptions.spec.ts
Due: eslint --fix

feat(cnpj-gen): create class to handle CNPJ generation
  packages/cnpj-gen/src/cnpj-generator-options.ts
  packages/cnpj-gen/src/cnpj-generator.ts
  packages/cnpj-gen/tests/cnpj-generator.spec.ts
Due: eslint --fix

chore(cnpj-gen): drop legacy resources
  packages/cnpj-gen/src/calculate-digit.ts
  packages/cnpj-gen/src/index.ts
  packages/cnpj-gen/src/merge-options.ts
  packages/cnpj-gen/src/number-generator.ts
  packages/cnpj-gen/tests/dist.test.ts
  packages/cnpj-gen/tests/exceptions.test.ts
  packages/cnpj-gen/tests/options.test.ts
Due: eslint --fix

chore(cnpj-gen): redefine dependencies
  bun.lock
  packages/cnpj-gen/package.json
Due: none

chore(cnpj-gen): update package metadata
  packages/cnpj-gen/package.json
Due: none

docs(cnpj-fmt): update JSdocs
  packages/cnpj-fmt/src/cnpj-fmt.ts
Due: eslint --fix

feat(cnpj-gen): create helper function
  packages/cnpj-gen/src/cnpj-gen.ts
  packages/cnpj-gen/tests/cnpj-gen.spec.ts
  packages/cnpj-gen/tests/cnpj-generator.spec.ts
Due: eslint --fix

build(cnpj-gen): set API for ESM, CJS and UMD versions
  packages/cnpj-gen/rollup.config.mjs
  packages/cnpj-gen/src/index.cjs.ts
  packages/cnpj-gen/src/index.esm.ts
  packages/cnpj-gen/src/index.umd.ts
Due: eslint --fix

test(cnpj-gen): create tests for built files
  packages/cnpj-gen/tests/output.spec.ts
Due: eslint --fix

test(cnpj-dv): rephrase test cases
  packages/cnpj-dv/tests/output.spec.ts
Due: eslint --fix

test(cnpj-fmt): rephrase test cases
  packages/cnpj-fmt/tests/__coverage__/lcov.info
  packages/cnpj-fmt/tests/output.spec.ts
Due: eslint --fix

test(cnpj-gen): update coverage report
  packages/cnpj-gen/tests/__coverage__/lcov.info
Due: none

docs(cnpj-fmt): update README
  packages/cnpj-fmt/README.md
  packages/cnpj-fmt/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-gen): update README
  packages/cnpj-gen/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-gen): create README in Portuguese
  packages/cnpj-gen/README.pt.md
Due: none

docs(cnpj-gen): create changeset to register changelogs
  .changeset/twenty-hands-keep.md
Due: none

chore(cnpj-gen): fix internal dependency version
  packages/cnpj-gen/package.json
Due: none

docs(cnpj-fmt): remove misleading info in JSdocs
  packages/cnpj-fmt/src/cnpj-fmt.ts
  packages/cnpj-fmt/src/cnpj-formatter.ts
  packages/cnpj-fmt/tests/__coverage__/lcov.info
Due: eslint --fix

docs(cnpj-gen): fix hyperlink
  packages/cnpj-gen/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-gen): fix contradicting phrase
  packages/cnpj-gen/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-gen): fix contradicting phrase
  packages/cnpj-gen/README.pt.md
Due: none

docs(cnpj-gen): fix typo in JSdocs
  packages/cnpj-gen/src/cnpj-gen.ts
Due: eslint --fix

refactor(cnpj-gen): adjust misleading variable name
  packages/cnpj-gen/src/cnpj-generator-options.ts
  packages/cnpj-gen/tests/__coverage__/lcov.info
Due: eslint --fix

refactor(cnpj-gen): mark array argument as readonly
  packages/cnpj-gen/src/exceptions.ts
Due: eslint --fix

test(cnpj-gen): fix REGEX
  packages/cnpj-dv/tests/cnpj-check-digits.spec.ts
  packages/cnpj-gen/tests/cnpj-generator.spec.ts
Due: eslint --fix

test(cnpj-gen): resolve duplicate assertion
  packages/cnpj-gen/tests/output.spec.ts
Due: eslint --fix

test(cnpj-gen): fix erroneous function argument passed
  packages/cnpj-gen/tests/output.spec.ts
Due: eslint --fix

refactor(cnpj-gen): move constant to file top
  packages/cnpj-gen/src/cnpj-generator-options.ts
  packages/cnpj-gen/tests/__coverage__/lcov.info
Due: eslint --fix

chore(cpf-gen): update project metadata
  bun.lock
  packages/cpf-gen/.npmignore
  packages/cpf-gen/package.json
Due: none

chore: update overall dependencies
  bun.lock
  package.json
Due: none

feat(cpf-gen): create utility resources
  packages/cpf-gen/src/utils.ts
  packages/cpf-gen/tests/utils.spec.ts
Due: eslint --fix

docs(cnpj-gen): add missing throwable exceptions in JSdocs
  packages/cnpj-gen/src/cnpj-generator-options.ts
  packages/cnpj-gen/tests/__coverage__/lcov.info
Due: eslint --fix

feat(cpf-gen): create throwables for specific errors and exceptions
  packages/cpf-gen/src/exceptions.ts
  packages/cpf-gen/tests/exceptions.spec.ts
Due: eslint --fix

feat(cpf-gen): create resource to manage generator options and bounds
  packages/cpf-gen/src/cpf-generator-options.ts
  packages/cpf-gen/src/types.ts
  packages/cpf-gen/tests/cpf-generator-options.spec.ts
Due: eslint --fix

fix(cnpj-gen): rephrase error messages
  packages/cnpj-gen/src/cnpj-generator-options.ts
  packages/cnpj-gen/tests/__coverage__/lcov.info
  packages/cnpj-gen/tests/cnpj-generator-options.spec.ts
Due: eslint --fix

feat(cpf-gen): create main class o produce random CPF's
  packages/cpf-gen/src/cpf-generator.ts
  packages/cpf-gen/tests/cpf-generator.spec.ts
Due: eslint --fix

Path conditions:
  git add **/LICENSE: any of: ./LICENSE
  node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')": any of: ./README.md
  git add ./packages/br-utils/README.md: any of: ./README.md
  node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')": any of: ./packages/br-utils/README.md
  git add ./README.md: any of: ./packages/br-utils/README.md
  eslint --fix: any of: *.{js,cjs,mjs,ts,mts}
