Repository LacusSolutions/br-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md, eslint --fix

.lintstagedrc:

{
  "./LICENSE": [
    "node -e \"const fs = require('fs'); const path = require('path'); fs.readdirSync('./packages').forEach(pkg => { const dest = path.join('./packages', pkg, 'LICENSE'); if (fs.statSync(path.join('./packages', pkg)).isDirectory()) { fs.copyFileSync('./LICENSE', dest); } })\"",
    "git add **/LICENSE"
  ],
  "./README.md": [
    "node -e \"fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')\"",
    "git add ./packages/br-utils/README.md"
  ],
  "./packages/br-utils/README.md": [
    "node -e \"fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')\"",
    "git add ./README.md"
  ],
  "*.{js,cjs,mjs,ts,mts}": [
    "eslint --fix"
  ]
}

feat(cpf-val): create base exceptions and errors
  packages/cpf-val/src/exceptions.ts
  packages/cpf-val/src/utils.ts
  packages/cpf-val/tests/exceptions.spec.ts
  packages/cpf-val/tests/utils.spec.ts
Due: eslint --fix

chore(cpf-val): update package metadata
  bun.lock
  packages/cpf-val/package.json
Due: none

test(cpf-val): create tests for distribution files
  packages/cpf-val/tests/output.spec.ts
Due: eslint --fix

fix(cpf-val): implement stricter input check
  packages/cpf-val/src/cpf-validator.ts
  packages/cpf-val/tests/__coverage__/lcov.info
Due: eslint --fix

docs(cpf-val): update README with latest API and info
  packages/cpf-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-val): create Portuguese version of README
  packages/cpf-val/README.pt.md
Due: none

docs(cpf-val): create changesets for next major version
  .changeset/twenty-hands-navigate.md
Due: none

docs(cpf-val): fix JSdocs
  packages/cpf-val/src/exceptions.ts
Due: eslint --fix

docs(cpf-val): fix JSdocs
  packages/cpf-val/src/types.ts
Due: eslint --fix

docs(cnpj-val): fix JSdocs
  packages/cnpj-val/src/types.ts
Due: eslint --fix

test(cpf-val): remove duplicate test case
  packages/cpf-val/tests/output.spec.ts
Due: eslint --fix

feat(utils): create project to maintain reusable utilities resources
  packages/utils/LICENSE
  packages/utils/package.json
  packages/utils/rollup.config.mjs
  packages/utils/tsconfig.json
Due: git add **/LICENSE, eslint --fix

feat(utils): add function to describe types of a given value
  packages/utils/src/describe-type.ts
  packages/utils/tests/describe-type.spec.ts
Due: eslint --fix

feat(utils): add function to escape HTML syntax
  packages/utils/src/escape-html.ts
  packages/utils/tests/escape-html.spec.ts
Due: eslint --fix

feat(utils): add function to generate random sequence of characters
  packages/utils/src/generate-random-sequence.ts
  packages/utils/src/types.ts
  packages/utils/tests/generate-random-sequence.spec.ts
Due: eslint --fix

feat(utils): define API to ESM, CJS and UMD versions of the package
  packages/utils/src/index.cjs.ts
  packages/utils/src/index.esm.ts
  packages/utils/src/index.umd.ts
  packages/utils/tests/output.spec.ts
Due: eslint --fix

test(utils): update coverage report
  packages/utils/tests/__coverage__/lcov.info
Due: none

docs(utils): create README documentation
  packages/utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(utils): create changesets
  .changeset/spicy-clocks-smoke.md
Due: none

ci: include package `utils` to CI workflow
  .github/workflows/ci.yml
Due: none

refactor(cnpj-dv): drop duplicate code in favor of internal `@lacussoft/utils` package
  .changeset/just-another-changeset.md
  packages/cnpj-dv/README.md
  packages/cnpj-dv/README.pt.md
  packages/cnpj-dv/package.json
  packages/cnpj-dv/src/exceptions.ts
  packages/cnpj-dv/src/utils.ts
  packages/cnpj-dv/tests/utils.spec.ts
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

refactor(cpf-dv): drop duplicate code in favor of internal `@lacussoft/utils` package
  .changeset/poor-beans-study.md
  packages/cpf-dv/README.md
  packages/cpf-dv/README.pt.md
  packages/cpf-dv/package.json
  packages/cpf-dv/src/exceptions.ts
  packages/cpf-dv/src/utils.ts
  packages/cpf-dv/tests/utils.spec.ts
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

refactor(cnpj-fmt): drop duplicate code in favor of internal `@lacussoft/utils` package
  .changeset/twenty-hands-go.md
  packages/cnpj-fmt/README.md
  packages/cnpj-fmt/README.pt.md
  packages/cnpj-fmt/package.json
  packages/cnpj-fmt/src/cnpj-formatter.ts
  packages/cnpj-fmt/src/exceptions.ts
  packages/cnpj-fmt/src/utils.ts
  packages/cnpj-fmt/tests/utils.spec.ts
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

refactor(cpf-fmt): drop duplicate code in favor of internal `@lacussoft/utils` package
  .changeset/twenty-hands-join.md
  packages/cpf-fmt/README.md
  packages/cpf-fmt/README.pt.md
  packages/cpf-fmt/package.json
  packages/cpf-fmt/src/cpf-formatter.ts
  packages/cpf-fmt/src/exceptions.ts
  packages/cpf-fmt/src/utils.ts
  packages/cpf-fmt/tests/utils.spec.ts
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

refactor(cnpj-gen): drop duplicate code in favor of internal `@lacussoft/utils` package
  packages/cnpj-gen/README.md
  packages/cnpj-gen/README.pt.md
  packages/cnpj-gen/package.json
  packages/cnpj-gen/src/cnpj-generator.ts
  packages/cnpj-gen/src/exceptions.ts
  packages/cnpj-gen/src/types.ts
  packages/cnpj-gen/src/utils.ts
  packages/cnpj-gen/tests/cnpj-generator.spec.ts
  packages/cnpj-gen/tests/utils.spec.ts
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

refactor(cnpj-val): drop duplicate code in favor of internal `@lacussoft/utils` package
  packages/cnpj-val/README.md
  packages/cnpj-val/README.pt.md
  packages/cnpj-val/package.json
  packages/cnpj-val/src/exceptions.ts
  packages/cnpj-val/src/utils.ts
  packages/cnpj-val/tests/utils.spec.ts
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

refactor(cpf-gen): drop duplicate code in favor of internal `@lacussoft/utils` package
  packages/cpf-gen/README.md
  packages/cpf-gen/README.pt.md
  packages/cpf-gen/package.json
  packages/cpf-gen/src/cpf-generator.ts
  packages/cpf-gen/src/exceptions.ts
  packages/cpf-gen/src/utils.ts
  packages/cpf-gen/tests/cpf-generator.spec.ts
  packages/cpf-gen/tests/utils.spec.ts
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

refactor(cpf-val): drop duplicate code in favor of internal `@lacussoft/utils` package
  packages/cpf-val/README.md
  packages/cpf-val/README.pt.md
  packages/cpf-val/package.json
  packages/cpf-val/src/exceptions.ts
  packages/cpf-val/src/utils.ts
  packages/cpf-val/tests/utils.spec.ts
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

refactor(utils): rename type to be more agnostic
  bun.lock
  packages/utils/README.md
  packages/utils/src/generate-random-sequence.ts
  packages/utils/src/types.ts
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

test: update coverage report
  packages/cnpj-dv/tests/__coverage__/lcov.info
  packages/cnpj-fmt/tests/__coverage__/lcov.info
  packages/cnpj-gen/tests/__coverage__/lcov.info
  packages/cnpj-val/tests/__coverage__/lcov.info
  packages/cpf-dv/tests/__coverage__/lcov.info
  packages/cpf-fmt/tests/__coverage__/lcov.info
  packages/cpf-gen/tests/__coverage__/lcov.info
  packages/cpf-val/tests/__coverage__/lcov.info
Due: none

chore: update deps
  bun.lock
  package.json
Due: none

chore: fix build script
  package.json
Due: none

docs(utils): fix stale type reference
  .changeset/spicy-clocks-smoke.md
Due: none

chore: fix root scripts
  package.json
Due: none

docs(cnpj-gen): fix wording
  packages/cnpj-gen/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-val): fix wording
  packages/cnpj-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-gen): fix wording
  packages/cpf-gen/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-val): fix wording
  packages/cpf-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

chore(utils): fix typo
  packages/utils/package.json
Due: none
