Repository LacusSolutions/br-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md, eslint --fix

.lintstagedrc:

{
  "./README.md": [
    "node -e \"fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')\"",
    "git add ./packages/br-utils/README.md"
  ],
  "./packages/br-utils/README.md": [
    "node -e \"fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')\"",
    "git add ./README.md"
  ],
  "*.{js,cjs,mjs,ts,mts}": [
    "eslint --fix"
  ]
}

ci: include package `br-utils` in GitHub Actions
  .github/workflows/ci.yml
Due: none

docs(br-utils): update README
  README.md
  packages/br-utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md

refactor(br-utils): change import mode for different type declaration
  packages/br-utils/src/module.ts
Due: eslint --fix

ci: change build scripts order
  package.json
Due: none

revert(br-utils): undo manual version increment
  packages/br-utils/package.json
Due: none

docs(br-utils): update changelog for v1.0.0 release
  packages/br-utils/CHANGELOG.md
Due: none

fix(br-utils): increment package version
  .changeset/large-kids-fall.md
Due: none

ci: create automation for PR assignment
  .github/workflows/pr-author-assign.yml
Due: none

ci(br-utils): increment package version
  packages/br-utils/CHANGELOG.md
  packages/br-utils/package.json
Due: none

fix(br-utils): fix types definitions export
  .changeset/metal-teams-glow.md
  packages/br-utils/package.json
Due: none

fix: adjust types export
  .changeset/sour-paws-speak.md
  packages/cnpj-fmt/package.json
  packages/cnpj-gen/package.json
  packages/cnpj-utils/package.json
  packages/cnpj-val/package.json
  packages/cpf-fmt/package.json
  packages/cpf-gen/package.json
  packages/cpf-utils/package.json
  packages/cpf-val/package.json
Due: none

docs: update packages description
  .changeset/afraid-bananas-unite.md
  packages/br-utils/package.json
  packages/cnpj-fmt/README.md
  packages/cnpj-fmt/package.json
  packages/cnpj-gen/README.md
  packages/cnpj-gen/package.json
  packages/cnpj-utils/README.md
  packages/cnpj-utils/package.json
  packages/cnpj-val/README.md
  packages/cnpj-val/package.json
  packages/cpf-fmt/README.md
  packages/cpf-fmt/package.json
  packages/cpf-gen/README.md
  packages/cpf-gen/package.json
  packages/cpf-utils/README.md
  packages/cpf-utils/package.json
  packages/cpf-val/README.md
  packages/cpf-val/package.json
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

chore: increase packages versions to align with `br-utils`
  .changeset/sad-ties-press.md
Due: none

fix(br-utils): fix resources leak
  .changeset/chubby-bats-drop.md
  packages/br-utils/src/module.ts
Due: eslint --fix

chore: update project author in license
  LICENSE
Due: none

chore: drop unused file
  grid-icon.svg
Due: none

docs: create a contribution guide
  .changeset/petite-pugs-buy.md
  CONTRIBUTING.md
Due: none

docs: update documentation
  .changeset/fast-clouds-do.md
  README.md
  packages/br-utils/README.md
  packages/cnpj-fmt/README.md
  packages/cnpj-gen/README.md
  packages/cnpj-utils/README.md
  packages/cnpj-val/README.md
  packages/cpf-fmt/README.md
  packages/cpf-gen/README.md
  packages/cpf-utils/README.md
  packages/cpf-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md

docs: fix MD links
  README.md
  packages/br-utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md

docs: fix link to changelog of each package
  README.md
  packages/br-utils/README.md
  packages/cnpj-fmt/README.md
  packages/cnpj-gen/README.md
  packages/cnpj-utils/README.md
  packages/cnpj-val/README.md
  packages/cpf-fmt/README.md
  packages/cpf-gen/README.md
  packages/cpf-utils/README.md
  packages/cpf-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md

docs: fix contribution guide with accurate project info
  CONTRIBUTING.md
Due: none

docs: fix malformed URL
  README.md
  packages/br-utils/README.md
  packages/cnpj-fmt/README.md
  packages/cnpj-gen/README.md
  packages/cnpj-utils/README.md
  packages/cnpj-val/README.md
  packages/cpf-fmt/README.md
  packages/cpf-gen/README.md
  packages/cpf-utils/README.md
  packages/cpf-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md

docs(cnpj-utils): update demo links and images
  packages/cnpj-utils/demo/favicon.ico
  packages/cnpj-utils/demo/index.html
  packages/cnpj-utils/demo/logo.png
Due: none

docs(cpf-utils): update demo links and images
  packages/cpf-utils/demo/favicon.ico
  packages/cpf-utils/demo/index.html
  packages/cpf-utils/demo/logo.png
Due: none

fix(cnpj-utils): fix images
  packages/cnpj-utils/demo/favicon.ico
  packages/cnpj-utils/demo/logo.png
Due: none

fix(cpf-utils): fix images
  packages/cpf-utils/demo/favicon.ico
  packages/cpf-utils/demo/logo.png
Due: none

fix: fix binary files corruption
  .gitattributes
Due: none

docs: add cover image
  README.md
  packages/br-utils/README.md
  packages/cnpj-fmt/README.md
  packages/cnpj-gen/README.md
  packages/cnpj-utils/README.md
  packages/cnpj-val/README.md
  packages/cpf-fmt/README.md
  packages/cpf-gen/README.md
  packages/cpf-utils/README.md
  packages/cpf-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md

ci: define fixed actions versions
  .github/workflows/ci.yml
  .github/workflows/pr-author-assign.yml
  .github/workflows/release.yml
Due: none

ci: update third-party actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: sync licenses when monorepo's is updated
  .lintstagedrc
Due: none

docs(br-utils): fix cover source
  README.md
  packages/br-utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md

docs(cnpj-fmt): fix cover source
  packages/cnpj-fmt/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-gen): fix cover source
  packages/cnpj-gen/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-utils): fix cover source
  packages/cnpj-utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-val): fix cover source
  packages/cnpj-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-fmt): fix cover source
  packages/cpf-fmt/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md
