Repository LacusSolutions/br-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/cnpj-utils/README.md', './README.md')", git add ./README.md, eslint --fix

refactor: lint source code
  .changeset/lovely-memes-rhyme.md
  packages/cnpj-fmt/src/cnpj-fmt.ts
  packages/cnpj-fmt/src/merge-options.ts
  packages/cnpj-gen/src/calculate-digit.ts
  packages/cnpj-gen/src/cnpj-gen.ts
  packages/cnpj-gen/src/merge-options.ts
  packages/cnpj-gen/src/number-generator.ts
  packages/cnpj-val/src/cnpj-val.ts
Due: eslint --fix

chore: add `.gitattributes` file to ensure EOF
  .gitattributes
Due: none

ci: create workflow to ensure quality and integrity in all pushes
  .changeset/stupid-cooks-obey.md
  .github/workflows/ci.yml
Due: none

ci: create workflow to release and publish to NPM
  .changeset/nice-socks-play.md
  .github/workflows/release.yml
Due: none

test: fix generic type
  packages/cnpj-fmt/src/cnpj-fmt.ts
  packages/cnpj-fmt/test/__coverage__/lcov.info
Due: eslint --fix

fix: fix as per comment https://github.com/juliolmuller/cnpj-utils-js/pull/3#discussion_r2051379670
  packages/cnpj-utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/cnpj-utils/README.md', './README.md')", git add ./README.md

fix: fix as per comment https://github.com/juliolmuller/cnpj-utils-js/pull/3#discussion_r2051379675
  README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md

fix: fix as per comment https://github.com/juliolmuller/cnpj-utils-js/pull/3#discussion_r2051379678
  README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md

fix: fix as per comment https://github.com/juliolmuller/cnpj-utils-js/pull/3#discussion_r2051379681
  README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md

fix: fix as per comment https://github.com/juliolmuller/cnpj-utils-js/pull/3#discussion_r2051396707
  README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md

fix: fix as per comment https://github.com/juliolmuller/cnpj-utils-js/pull/3#discussion_r2051396719
  README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md

fix: fix as per comment https://github.com/juliolmuller/cnpj-utils-js/pull/3#discussion_r2051396714
  README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md

docs: fix linebreak char
  README.md
  packages/cnpj-fmt/README.md
  packages/cnpj-gen/README.md
  packages/cnpj-utils/README.md
  packages/cnpj-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/cnpj-utils/README.md', './README.md')", git add ./README.md

fix: fix as per comment https://github.com/juliolmuller/cnpj-utils-js/pull/3#discussion_r2051379685
  .github/workflows/ci.yml
Due: none

docs: fix JSdoc
  packages/cnpj-fmt/src/cnpj-fmt.ts
  packages/cnpj-gen/src/number-generator.ts
Due: eslint --fix

test: update testcases names
  packages/cnpj-fmt/test/build.test.js
  packages/cnpj-gen/test/build.test.js
  packages/cnpj-utils/test/build.test.js
  packages/cnpj-val/test/build.test.js
Due: eslint --fix

docs: update docs
  README.md
  packages/cnpj-fmt/README.md
  packages/cnpj-gen/README.md
  packages/cnpj-utils/README.md
  packages/cnpj-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/cnpj-utils/README.md', './README.md')", git add ./README.md

test: update coverage report
  packages/cnpj-fmt/test/__coverage__/lcov.info
  packages/cnpj-gen/test/__coverage__/lcov.info
  packages/cnpj-utils/test/__coverage__/lcov.info
  packages/cnpj-val/test/__coverage__/lcov.info
Due: none

docs: fix docs for CNPJ validation
  .changeset/lemon-peaches-fetch.md
  README.md
  packages/cnpj-utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/cnpj-utils/README.md', './README.md')", git add ./README.md

docs: fix changelogs
  packages/cnpj-gen/CHANGELOG.md
  packages/cnpj-utils/CHANGELOG.md
  packages/cnpj-val/CHANGELOG.md
Due: none

docs: create demo HTML page
  demo/index.html
  demo/scripts/index.js
  demo/scripts/nouislider.js
  demo/styles/index.css
  demo/styles/nouislider.css
Due: eslint --fix

docs: update homepage URL references
  packages/cnpj-fmt/package.json
  packages/cnpj-gen/package.json
  packages/cnpj-utils/package.json
  packages/cnpj-val/package.json
Due: none

chore: startup project
  .github/CODEOWNERS
  .github/workflows/release.yml
  .gitignore
  LICENSE
  README.md
  build/index.cjs
  build/index.mjs
  bun.lock
  package.json
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md, eslint --fix

refactor: move docs to specific package dir
  packages/cpf-utils/.npmignore
  packages/cpf-utils/demo/index.html
  packages/cpf-utils/demo/scripts/index.js
  packages/cpf-utils/demo/scripts/nouislider.js
  packages/cpf-utils/demo/styles/index.css
  packages/cpf-utils/demo/styles/nouislider.css
Due: eslint --fix

refactor: move demo page to specific package
  packages/cnpj-utils/.npmignore
  packages/cnpj-utils/demo/index.html
  packages/cnpj-utils/demo/scripts/index.js
  packages/cnpj-utils/demo/scripts/nouislider.js
  packages/cnpj-utils/demo/styles/index.css
  packages/cnpj-utils/demo/styles/nouislider.css
  packages/cpf-utils/.npmignore
Due: eslint --fix

feat: create new aggregating package
  build/index.cjs
  build/index.mjs
  packages/br-utils/.npmignore
  packages/br-utils/LICENSE
  packages/br-utils/package.json
  packages/br-utils/rollup.config.mjs
  packages/br-utils/tsconfig.json
  rollup.config.mjs
Due: eslint --fix

chore: fix references to old repo URL
  packages/cnpj-fmt/README.md
  packages/cnpj-fmt/package.json
  packages/cnpj-gen/README.md
  packages/cnpj-gen/package.json
  packages/cnpj-utils/README.md
  packages/cnpj-utils/demo/index.html
  packages/cnpj-utils/package.json
  packages/cnpj-val/README.md
  packages/cnpj-val/package.json
  packages/cpf-fmt/README.md
  packages/cpf-fmt/package.json
  packages/cpf-gen/README.md
  packages/cpf-gen/package.json
  packages/cpf-utils/README.md
  packages/cpf-utils/demo/index.html
  packages/cpf-utils/package.json
  packages/cpf-val/README.md
  packages/cpf-val/package.json
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/cnpj-utils/README.md', './README.md')", git add ./README.md

chore(br-utils): sync README with aggregating package
  .lintstagedrc
  packages/br-utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md

chore: fix pre-push script
  .husky/pre-push
Due: none

test: update coverage report
  packages/cnpj-fmt/test/__coverage__/.lcov.info.17be3420fb94a77a.tmp
  packages/cnpj-fmt/test/__coverage__/lcov.info
  packages/cnpj-gen/test/__coverage__/.lcov.info.aa0f86f49340cd0e.tmp
  packages/cnpj-gen/test/__coverage__/lcov.info
  packages/cnpj-val/test/__coverage__/.lcov.info.f26cf93d0d911e53.tmp
  packages/cnpj-val/test/__coverage__/lcov.info
  packages/cpf-fmt/test/__coverage__/.lcov.info.34d9e6aeadef7ab6.tmp
  packages/cpf-fmt/test/__coverage__/lcov.info
  packages/cpf-gen/test/__coverage__/.lcov.info.c247c9418fc44c6b.tmp
  packages/cpf-gen/test/__coverage__/lcov.info
  packages/cpf-val/test/__coverage__/.lcov.info.06c5c33956687829.tmp
  packages/cpf-val/test/__coverage__/lcov.info
Due: none

test: update coverage report
  .gitignore
  package.json
  packages/cnpj-fmt/test/__coverage__/.lcov.info.17be3420fb94a77a.tmp
  packages/cnpj-gen/test/__coverage__/.lcov.info.aa0f86f49340cd0e.tmp
  packages/cnpj-utils/test/__coverage__/lcov.info
  packages/cnpj-val/test/__coverage__/.lcov.info.f26cf93d0d911e53.tmp
  packages/cpf-fmt/test/__coverage__/.lcov.info.34d9e6aeadef7ab6.tmp
  packages/cpf-gen/test/__coverage__/.lcov.info.c247c9418fc44c6b.tmp
  packages/cpf-utils/test/__coverage__/lcov.info
  packages/cpf-val/test/__coverage__/.lcov.info.06c5c33956687829.tmp
Due: none

chore: update overall dependencies
  .changeset/eighty-states-repeat.md
  bun.lock
  package.json
  packages/cnpj-fmt/package.json
  packages/cnpj-gen/package.json
  packages/cnpj-utils/package.json
  packages/cnpj-val/package.json
  packages/cpf-fmt/package.json
  packages/cpf-gen/package.json
  packages/cpf-utils/package.json
  packages/cpf-val/package.json
Due: none

chore: replace repo references to 'juliolmuller' by 'LacusSolutions'
  README.md
  grid-icon.svg
  packages/br-utils/README.md
  packages/br-utils/package.json
  packages/cnpj-fmt/README.md
  packages/cnpj-fmt/package.json
  packages/cnpj-gen/README.md
  packages/cnpj-gen/package.json
  packages/cnpj-utils/README.md
  packages/cnpj-utils/demo/index.html
  packages/cnpj-utils/package.json
  packages/cnpj-val/README.md
  packages/cnpj-val/package.json
  packages/cpf-fmt/README.md
  packages/cpf-fmt/package.json
  packages/cpf-gen/README.md
  packages/cpf-gen/package.json
  packages/cpf-utils/README.md
  packages/cpf-utils/demo/index.html
  packages/cpf-utils/package.json
  packages/cpf-val/README.md
  packages/cpf-val/package.json
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')", git add ./packages/cnpj-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/cnpj-utils/README.md', './README.md')", git add ./README.md

chore: add changeset
  .changeset/wise-snails-hide.md
Due: none

chore: update code owners to tech team
  .github/CODEOWNERS
Due: none

chore(br-utils): setup project dependencies
  bun.lock
  packages/br-utils/package.json
  packages/br-utils/rollup.config.mjs
Due: eslint --fix

feat(br-utils): implement package
  packages/br-utils/src/dist.ts
  packages/br-utils/src/module.ts
Due: eslint --fix

test(br-utils): create tests
  package.json
  packages/br-utils/test/build.test.js
  packages/br-utils/test/dist.test.js
Due: eslint --fix

chore(br-utils): create changelog for `br-utils` v1 release
  .changeset/major-spiders-hear.md
Due: none

Path conditions:
  node -e "fs=require('fs').copyFileSync('./README.md', './packages/cnpj-utils/README.md')": any of: ./README.md
  git add ./packages/cnpj-utils/README.md: any of: ./README.md
  node -e "fs=require('fs').copyFileSync('./packages/cnpj-utils/README.md', './README.md')": any of: ./packages/cnpj-utils/README.md
  git add ./README.md: any of: ./packages/cnpj-utils/README.md
  eslint --fix: any of: *.{js,cjs,mjs,ts,mts}
