Repository LacusSolutions/br-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md, eslint --fix

docs(cpf-gen): fix cover source
  packages/cpf-gen/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-utils): fix cover source
  packages/cpf-utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-val): fix cover source
  packages/cpf-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

chore(cnpj-gen): update dependencies to latest version
  packages/cnpj-gen/package.json
Due: none

chore(cnpj-fmt): update dependencies to latest version
  packages/cnpj-fmt/package.json
Due: none

chore(cnpj-val): update dependencies to latest version
  packages/cnpj-val/package.json
Due: none

chore(cnpj-utils): update dependencies to latest version
  packages/cnpj-utils/package.json
Due: none

chore(cpf-fmt): update dependencies to latest version
  packages/cpf-fmt/package.json
Due: none

chore(cpf-gen): update dependencies to latest version
  packages/cpf-gen/package.json
Due: none

chore(cpf-val): update dependencies to latest version
  packages/cpf-val/package.json
Due: none

chore(cpf-utils): update dependencies to latest version
  packages/cpf-utils/package.json
Due: none

chore(br-utils): update dependencies to latest version
  packages/br-utils/package.json
Due: none

chore: update dependencies to latest version
  bun.lock
  package.json
Due: none

test: update coverage report
  packages/cnpj-fmt/tests/__coverage__/lcov.info
  packages/cnpj-gen/tests/__coverage__/lcov.info
  packages/cnpj-val/tests/__coverage__/lcov.info
  packages/cpf-fmt/tests/__coverage__/lcov.info
  packages/cpf-gen/tests/__coverage__/lcov.info
  packages/cpf-val/tests/__coverage__/lcov.info
Due: none

chore: add changeset
  .changeset/fine-carrots-open.md
Due: none

ci: create workflow to update license coverage period annually
  .github/workflows/license-update.yml
Due: none

chore: update license copyright year to 2026
  LICENSE
  packages/br-utils/LICENSE
  packages/cnpj-fmt/LICENSE
  packages/cnpj-gen/LICENSE
  packages/cnpj-utils/LICENSE
  packages/cnpj-val/LICENSE
  packages/cpf-fmt/LICENSE
  packages/cpf-gen/LICENSE
  packages/cpf-utils/LICENSE
  packages/cpf-val/LICENSE
Due: git add **/LICENSE

chore: fix project licenser
  LICENSE
Due: git add **/LICENSE

ci: create automation to sync repo labels
  .github/workflows/labels-sync.yml
Due: none

revert: drop temporary workflow
  .github/workflows/labels-sync.yml
Due: none

ci: update workflows dependencies versions
  .github/workflows/ci.yml
  .github/workflows/license-update.yml
  .github/workflows/pr-author-assign.yml
  .github/workflows/release.yml
Due: none

chore: remove `commitizen` from project
  .czrc
  bun.lock
  package.json
Due: none

chore: define Commitlint's `prompt-cli` as guided commit tool
  bun.lock
  package.json
Due: none

chore: update Commitlint's config file extension
  .commitlintrc
  commitlint.config.mjs
Due: eslint --fix

chore: set workspaces as valid scopes for commit messages
  bun.lock
  commitlint.config.mjs
  package.json
Due: eslint --fix

build: update output dir from `build\' to `dist`
  packages/br-utils/package.json
  packages/br-utils/tests/build.test.js
  packages/cnpj-fmt/package.json
  packages/cnpj-fmt/tests/__coverage__/lcov.info
  packages/cnpj-fmt/tests/build.test.js
  packages/cnpj-gen/package.json
  packages/cnpj-gen/tests/__coverage__/lcov.info
  packages/cnpj-gen/tests/build.test.js
  packages/cnpj-utils/package.json
  packages/cnpj-utils/tests/build.test.js
  packages/cnpj-val/package.json
  packages/cnpj-val/tests/__coverage__/lcov.info
  packages/cnpj-val/tests/build.test.js
  packages/cnpj-val/tests/cnpj-val.test.js
  packages/cpf-fmt/package.json
  packages/cpf-fmt/tests/__coverage__/lcov.info
  packages/cpf-fmt/tests/build.test.js
  packages/cpf-gen/package.json
  packages/cpf-gen/tests/__coverage__/lcov.info
  packages/cpf-gen/tests/build.test.js
  packages/cpf-utils/package.json
  packages/cpf-utils/tests/build.test.js
  packages/cpf-val/package.json
  packages/cpf-val/tests/__coverage__/lcov.info
  packages/cpf-val/tests/build.test.js
  rollup.config.mjs
Due: eslint --fix

test: move tests in `build` into `dist`
  packages/br-utils/tests/build.test.js
  packages/br-utils/tests/dist.test.js
  packages/cnpj-fmt/tests/build.test.js
  packages/cnpj-fmt/tests/dist.test.js
  packages/cnpj-gen/tests/build.test.js
  packages/cnpj-gen/tests/dist.test.js
  packages/cnpj-utils/tests/build.test.js
  packages/cnpj-utils/tests/dist.test.js
  packages/cnpj-val/tests/build.test.js
  packages/cnpj-val/tests/dist.test.js
  packages/cpf-fmt/tests/build.test.js
  packages/cpf-fmt/tests/dist.test.js
  packages/cpf-gen/tests/build.test.js
  packages/cpf-gen/tests/dist.test.js
  packages/cpf-utils/tests/build.test.js
  packages/cpf-utils/tests/dist.test.js
  packages/cpf-val/tests/build.test.js
  packages/cpf-val/tests/dist.test.js
Due: eslint --fix

test(cnpj-fmt): migrate JS tests to TS format
  packages/cnpj-fmt/tests/dist.test.ts
  packages/cnpj-fmt/tests/exceptions.test.ts
  packages/cnpj-fmt/tests/options.test.ts
Due: eslint --fix

test(cnpj-gen): migrate JS tests to TS format
  packages/cnpj-gen/tests/dist.test.ts
  packages/cnpj-gen/tests/exceptions.test.ts
  packages/cnpj-gen/tests/options.test.ts
Due: eslint --fix

test(cnpj-val): migrate JS tests to TS format
  packages/cnpj-val/tests/cnpj-val.test.ts
  packages/cnpj-val/tests/dist.test.ts
Due: eslint --fix

test(cnpj-utils): migrate JS tests to TS format
  packages/cnpj-utils/tests/dist.test.ts
Due: eslint --fix

Path conditions:
  git add **/LICENSE: any of: ./LICENSE
  node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')": any of: ./README.md
  git add ./packages/br-utils/README.md: any of: ./README.md
  node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')": any of: ./packages/br-utils/README.md
  git add ./README.md: any of: ./packages/br-utils/README.md
  eslint --fix: any of: *.{js,cjs,mjs,ts,mts}
