Repository LacusSolutions/br-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md, eslint --fix

test(cpf-fmt): migrate JS tests to TS format
  packages/cpf-fmt/tests/dist.test.ts
  packages/cpf-fmt/tests/exceptions.test.ts
  packages/cpf-fmt/tests/options.test.ts
Due: eslint --fix

test(cpf-gen): migrate JS tests to TS format
  packages/cpf-gen/tests/dist.test.ts
  packages/cpf-gen/tests/exceptions.test.ts
  packages/cpf-gen/tests/options.test.ts
Due: eslint --fix

test(cpf-val): migrate JS tests to TS format
  packages/cpf-val/tests/cpf-val.test.ts
  packages/cpf-val/tests/dist.test.ts
Due: eslint --fix

test(cpf-utils): migrate JS tests to TS format
  packages/cpf-utils/tests/dist.test.ts
Due: eslint --fix

chore(br-utils): update `br-utils` scripts
  package.json
Due: none

test(br-utils): migrate JS tests to TS format
  packages/br-utils/tests/dist.test.ts
Due: eslint --fix

build: update build metadata
  packages/cnpj-fmt/rollup.config.mjs
  packages/cnpj-gen/rollup.config.mjs
  packages/cnpj-utils/rollup.config.mjs
  packages/cnpj-val/rollup.config.mjs
  packages/cpf-fmt/rollup.config.mjs
  packages/cpf-gen/rollup.config.mjs
  packages/cpf-utils/rollup.config.mjs
  packages/cpf-val/rollup.config.mjs
  rollup.config.mjs
Due: eslint --fix

build: fix build script
  package.json
  packages/br-utils/rollup.config.mjs
  packages/cnpj-fmt/rollup.config.mjs
  packages/cnpj-gen/rollup.config.mjs
  packages/cnpj-utils/rollup.config.mjs
  packages/cpf-fmt/rollup.config.mjs
  packages/cpf-gen/rollup.config.mjs
  packages/cpf-utils/rollup.config.mjs
Due: eslint --fix

chore: remove LICENSE copy from `lint-staged` steps to avoid coverage period override
  .lintstagedrc
Due: none

chore(cpf-cd): setup package codebase structure
  bun.lock
  package.json
  packages/cpf-cd/.npmignore
  packages/cpf-cd/LICENSE
  packages/cpf-cd/README.md
  packages/cpf-cd/package.json
  packages/cpf-cd/rollup.config.mjs
  packages/cpf-cd/tsconfig.json
Due: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

chore(cpf-cd): add references to package `cpf-cd`
  .github/workflows/ci.yml
  .husky/pre-push
  CONTRIBUTING.md
  package.json
Due: none

feat(cpf-dv): implement package logics
  packages/cpf-dv/src/cpf-check-digits.ts
  packages/cpf-dv/src/exceptions.ts
  packages/cpf-dv/src/types.ts
Due: eslint --fix

build(cpf-dv): define entrypoint and config build
  packages/cpf-dv/rollup.config.mjs
  packages/cpf-dv/src/index.cjs.ts
  packages/cpf-dv/src/index.esm.ts
  packages/cpf-dv/src/index.umd.ts
Due: eslint --fix

refactor: rename package `cpf-cd` to `cpf-dv`
  .github/workflows/ci.yml
  .husky/pre-push
  CONTRIBUTING.md
  package.json
  packages/cpf-dv/.npmignore
  packages/cpf-dv/LICENSE
  packages/cpf-dv/README.md
  packages/cpf-dv/package.json
  packages/cpf-dv/rollup.config.mjs
  packages/cpf-dv/tsconfig.json
Due: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

test(cpf-dv): create tests for source code and built bundles
  packages/cpf-dv/package.json
  packages/cpf-dv/tests/__coverage__/lcov.info
  packages/cpf-dv/tests/cpf-check-digits.test.ts
  packages/cpf-dv/tests/output.spec.ts
Due: eslint --fix

test(cpf-dv): update coverage report
  packages/cpf-dv/tests/__coverage__/lcov.info
Due: none

chore)cpf-dv): install deps
  bun.lock
  packages/cpf-dv/package.json
Due: none

docs(cpf-dv): update package description
  packages/cpf-dv/package.json
Due: none

docs(cpf-dv): create README file
  packages/cpf-dv/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-dv): log release notes
  .changeset/poor-beans-study.md
Due: none

chore: fix script running twice
  package.json
Due: none

chore: fix tests dir ignore declaration for NPM
  packages/br-utils/.npmignore
  packages/cnpj-fmt/.npmignore
  packages/cnpj-gen/.npmignore
  packages/cnpj-utils/.npmignore
  packages/cnpj-val/.npmignore
  packages/cpf-dv/.npmignore
  packages/cpf-fmt/.npmignore
  packages/cpf-gen/.npmignore
  packages/cpf-utils/.npmignore
  packages/cpf-val/.npmignore
Due: none

chore(cpf-dv): drop unused dev dependencies
  packages/cpf-dv/package.json
Due: none

chore: update overall dependencies
  bun.lock
  packages/br-utils/package.json
  packages/cnpj-fmt/package.json
  packages/cnpj-gen/package.json
  packages/cnpj-utils/package.json
  packages/cnpj-val/package.json
  packages/cpf-dv/package.json
  packages/cpf-fmt/package.json
  packages/cpf-gen/package.json
  packages/cpf-utils/package.json
  packages/cpf-val/package.json
Due: none

fix(cpf-dv): re0enforce prototype link for legacy browsers
  packages/cpf-dv/src/exceptions.ts
  packages/cpf-dv/tests/__coverage__/lcov.info
Due: eslint --fix

fix(cpf-dv): fix hardcoded error name
  packages/cpf-dv/src/exceptions.ts
Due: eslint --fix

fix(cpf-dv): fix erroneous error classes aliases
  packages/cpf-dv/src/index.cjs.ts
Due: eslint --fix

test(cpf-dv): remove stale source code
  packages/cpf-dv/tests/output.spec.ts
Due: eslint --fix

docs(cpf-dv): fix typo
  packages/cpf-dv/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

test(cpf-dv): refactor code step to a reusable function
  packages/cpf-dv/tests/output.spec.ts
Due: eslint --fix

docs(cpf-dv): fix algorithm explanation
  packages/cpf-dv/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-dv): create pt-BR version of documentation
  packages/cpf-dv/README.md
  packages/cpf-dv/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

test(cpf-dv): fix pre-test script to build package
  packages/cpf-dv/tests/output.spec.ts
Due: eslint --fix

chore(cpf-dv): fix output dir references
  packages/cpf-dv/package.json
Due: none

refactor(cpf-dv): improve code readability
  packages/cpf-dv/src/exceptions.ts
Due: eslint --fix

refactor(cpf-dv): extract utility function to dedicate file
  packages/cpf-dv/src/exceptions.ts
  packages/cpf-dv/src/utils.ts
Due: eslint --fix

test(cpf-dv): add unit tests for utility function
  packages/cpf-dv/tests/utils.test.ts
Due: eslint --fix

test)cpf-dv): add tests for `CpfCheckDigitsCalculationException`
  packages/cpf-dv/tests/__coverage__/lcov.info
  packages/cpf-dv/tests/cpf-check-digits.test.ts
Due: eslint --fix

Path conditions:
  git add **/LICENSE: any of: ./LICENSE
  node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')": any of: ./README.md
  git add ./packages/br-utils/README.md: any of: ./README.md
  node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')": any of: ./packages/br-utils/README.md
  git add ./README.md: any of: ./packages/br-utils/README.md
  eslint --fix: any of: *.{js,cjs,mjs,ts,mts}
