Repository LacusSolutions/br-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md, eslint --fix

.lintstagedrc:

{
  "./LICENSE": [
    "node -e \"const fs = require('fs'); const path = require('path'); fs.readdirSync('./packages').forEach(pkg => { const dest = path.join('./packages', pkg, 'LICENSE'); if (fs.statSync(path.join('./packages', pkg)).isDirectory()) { fs.copyFileSync('./LICENSE', dest); } })\"",
    "git add **/LICENSE"
  ],
  "./README.md": [
    "node -e \"fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')\"",
    "git add ./packages/br-utils/README.md"
  ],
  "./packages/br-utils/README.md": [
    "node -e \"fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')\"",
    "git add ./README.md"
  ],
  "*.{js,cjs,mjs,ts,mts}": [
    "eslint --fix"
  ]
}

docs(cnpj-utils): update README documentation
  packages/cnpj-utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-utils): create a Portuguese version of README
  packages/cnpj-utils/README.pt.md
Due: none

docs(cnpj-utils): create changeset for next major version
  .changeset/twenty-hands-owe.md
Due: none

test(cnpj-utils): update coverage report
  packages/cnpj-utils/tests/__coverage__/lcov.info
Due: none

docs(cnpj-utils): fix API description
  packages/cnpj-utils/README.md
  packages/cnpj-utils/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

test(cnpj-utils): fix typo in test case description
  packages/cnpj-utils/tests/cnpj-utils.spec.ts
Due: eslint --fix

test(cnpj-utils): fix typo in test case description
  packages/cnpj-utils/tests/output.spec.ts
Due: eslint --fix

docs(cnpj-utils): add missing JSdocs
  packages/cnpj-utils/src/cnpj-utils.ts
  packages/cnpj-utils/src/types.ts
  packages/cnpj-utils/tests/__coverage__/lcov.info
Due: eslint --fix

docs: fix English
  packages/cnpj-dv/README.md
  packages/cnpj-fmt/README.md
  packages/cnpj-gen/README.md
  packages/cnpj-utils/README.md
  packages/cnpj-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cnpj-utils): fix typo
  packages/cnpj-utils/README.pt.md
Due: none

test(cnpj-utils): drop redundant tests
  packages/cnpj-utils/tests/output.spec.ts
Due: eslint --fix

test: simplify export listing on distribution files
  packages/cnpj-dv/tests/output.spec.ts
  packages/cnpj-fmt/tests/output.spec.ts
  packages/cnpj-gen/tests/output.spec.ts
  packages/cnpj-val/tests/output.spec.ts
  packages/cpf-dv/tests/output.spec.ts
  packages/cpf-fmt/tests/output.spec.ts
  packages/cpf-gen/tests/output.spec.ts
  packages/cpf-val/tests/output.spec.ts
  packages/utils/tests/output.spec.ts
Due: eslint --fix

chore(cpf-utils): update package metadata
  bun.lock
  package.json
  packages/cpf-utils/.npmignore
  packages/cpf-utils/package.json
Due: none

feat(cpf-utils): define resources re-exported from dependencies
  packages/cpf-utils/src/cpf-formatter.ts
  packages/cpf-utils/src/cpf-generator.ts
  packages/cpf-utils/src/cpf-validator.ts
Due: eslint --fix

feat(cpf-utils): create class to manage CPF utilities resources
  packages/cpf-utils/src/cpf-utils.ts
  packages/cpf-utils/src/types.ts
  packages/cpf-utils/tests/cpf-utils.spec.ts
Due: eslint --fix

feat(cpf-utils): define library API
  packages/cpf-utils/rollup.config.mjs
  packages/cpf-utils/src/index.cjs.ts
  packages/cpf-utils/src/index.esm.ts
  packages/cpf-utils/src/index.umd.ts
  packages/cpf-utils/tests/output.spec.ts
Due: eslint --fix

chore(cpf-utils): drop legacy version files
  packages/cpf-utils/src/dist.ts
  packages/cpf-utils/src/module.ts
  packages/cpf-utils/tests/dist.test.ts
Due: eslint --fix

test(cpf-utils): update coverage report
  packages/cpf-utils/tests/__coverage__/lcov.info
Due: none

docs(cpf-utils): update README documentation
  packages/cpf-utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

docs(cpf-utils): create a Portuguese version of README
  packages/cpf-utils/README.pt.md
Due: none

docs(cpf-utils): create changeset for next major version
  .changeset/twenty-hands-pay.md
Due: none

docs: fix wording
  packages/cnpj-utils/README.md
  packages/cnpj-utils/tests/cnpj-utils.spec.ts
  packages/cpf-utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

chore(br-utils): update package metadata
  bun.lock
  packages/br-utils/.npmignore
  packages/br-utils/package.json
Due: none

chore: fix linter workaround
  bun.lock
  bunfig.toml
  package.json
Due: none

feat(br-utils): define resources re-exported from inner utilities packages
  packages/br-utils/src/cnpj-utils.ts
  packages/br-utils/src/cpf-utils.ts
Due: eslint --fix

feat(br-utils): implement main class to manage utilities classes
  packages/br-utils/src/br-utils.ts
  packages/br-utils/src/types.ts
Due: eslint --fix

feat(br-utils): define external-world API
  packages/br-utils/rollup.config.mjs
  packages/br-utils/src/index.cjs.ts
  packages/br-utils/src/index.esm.ts
  packages/br-utils/src/index.umd.ts
Due: eslint --fix

chore(br-utils): drop legacy codebase
  packages/br-utils/src/dist.ts
  packages/br-utils/src/module.ts
  packages/br-utils/tests/dist.test.ts
Due: eslint --fix

test(cnpj-utils): add missing assertion
  packages/cnpj-utils/tests/output.spec.ts
Due: eslint --fix

test(cpf-utils): add missing assertion
  packages/cpf-utils/tests/output.spec.ts
Due: eslint --fix

test(br-utils): create unit tests for package resources
  packages/br-utils/tests/__coverage__/lcov.info
  packages/br-utils/tests/br-utils.spec.ts
  packages/br-utils/tests/output.spec.ts
Due: eslint --fix

docs(br-utils): update README documentation
  README.md
  packages/br-utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md

docs(br-utils): create a Portuguese version of README
  packages/br-utils/README.pt.md
Due: none

docs(br-utils): add changesets
  .changeset/twenty-hands-owe.md
  .changeset/twenty-hands-pay.md
  .changeset/twenty-hands-queue.md
Due: none

docs(br-utils): remove misleading info in changesets
  .changeset/twenty-hands-queue.md
Due: none

docs(br-utils): fix JSdocs missing references
  packages/br-utils/src/br-utils.ts
Due: eslint --fix

docs(cnpj-utils): fix JSdocs missing references
  packages/cnpj-utils/src/cnpj-utils.ts
Due: eslint --fix
