Repository LacusSolutions/br-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')", git add ./README.md, eslint --fix

.lintstagedrc:

{
  "./LICENSE": [
    "node -e \"const fs = require('fs'); const path = require('path'); fs.readdirSync('./packages').forEach(pkg => { const dest = path.join('./packages', pkg, 'LICENSE'); if (fs.statSync(path.join('./packages', pkg)).isDirectory()) { fs.copyFileSync('./LICENSE', dest); } })\"",
    "git add **/LICENSE"
  ],
  "./README.md": [
    "node -e \"fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')\"",
    "git add ./packages/br-utils/README.md"
  ],
  "./packages/br-utils/README.md": [
    "node -e \"fs=require('fs').copyFileSync('./packages/br-utils/README.md', './README.md')\"",
    "git add ./README.md"
  ],
  "*.{js,cjs,mjs,ts,mts}": [
    "eslint --fix"
  ]
}

test(cpf-dv): fix test case
  packages/cpf-dv/tests/cpf-check-digits.test.ts
Due: eslint --fix

feat(cnpj-dv): create package
  packages/cnpj-dv/.npmignore
  packages/cnpj-dv/LICENSE
  packages/cnpj-dv/README.md
  packages/cnpj-dv/README.pt.md
  packages/cnpj-dv/package.json
  packages/cnpj-dv/rollup.config.mjs
  packages/cnpj-dv/src/cnpj-check-digits.ts
  packages/cnpj-dv/src/exceptions.ts
  packages/cnpj-dv/src/index.cjs.ts
  packages/cnpj-dv/src/index.esm.ts
  packages/cnpj-dv/src/index.umd.ts
  packages/cnpj-dv/src/types.ts
  packages/cnpj-dv/src/utils.ts
  packages/cnpj-dv/tests/cnpj-check-digits.test.ts
  packages/cnpj-dv/tests/output.spec.ts
  packages/cnpj-dv/tests/utils.test.ts
  packages/cnpj-dv/tsconfig.json
Due: git add **/LICENSE, node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md, eslint --fix

chore: add `cnpj-dv` to repo workflow
  .github/workflows/ci.yml
  .husky/pre-push
  bun.lock
  package.json
Due: none

docs(cnpj-dv): define release notes for new package
  .changeset/just-another-changeset.md
Due: none

chore(cpf-dv): simplify package export config
  packages/cpf-dv/package.json
Due: none

chore(cnpj-dv): simplify package export config
  packages/cnpj-dv/package.json
Due: none

feat(cnpj-dv): implement actual algorithm to calculate CNPJ check digits
  packages/cnpj-dv/src/cnpj-check-digits.ts
Due: eslint --fix

test(cnpj-dv): update tests for actual algorithm
  packages/cnpj-dv/tests/__coverage__/lcov.info
  packages/cnpj-dv/tests/cnpj-check-digits.test.ts
  packages/cnpj-dv/tests/output.spec.ts
Due: eslint --fix

feat(cnpj-dv): add support to alphanumeric CNPJ format
  packages/cnpj-dv/src/cnpj-check-digits.ts
  packages/cnpj-dv/src/exceptions.ts
  packages/cnpj-dv/src/types.ts
  packages/cnpj-dv/tests/cnpj-check-digits.test.ts
Due: eslint --fix

refactor(cnpj-dv): drop redundant unreachable checks
  packages/cnpj-dv/src/cnpj-check-digits.ts
  packages/cnpj-dv/src/types.ts
Due: eslint --fix

test(cnpj-dv): reactivate test cases
  packages/cnpj-dv/tests/cnpj-check-digits.test.ts
Due: eslint --fix

refactor(cnpj-dv): simplify calculation algorithm
  packages/cnpj-dv/src/cnpj-check-digits.ts
Due: eslint --fix

test(cnpj-dv): update coverage report
  packages/cnpj-dv/tests/__coverage__/lcov.info
Due: none

docs(cpf-dv): fix doc link
  packages/cpf-dv/README.pt.md
Due: none

docs(cnpj-dv): implement complete README (EN and PT-BR)
  packages/cnpj-dv/README.md
  packages/cnpj-dv/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

style(cpf-dv): lint source code
  packages/cpf-dv/tests/cpf-check-digits.test.ts
Due: eslint --fix

test(cnpj-dv): drop stale testcase
  packages/cnpj-dv/tests/cnpj-check-digits.test.ts
Due: eslint --fix

feat(cnpj-dv): reject base ID equals to "00.000.000"
  packages/cnpj-dv/src/cnpj-check-digits.ts
  packages/cnpj-dv/src/exceptions.ts
  packages/cnpj-dv/src/index.cjs.ts
  packages/cnpj-dv/src/index.umd.ts
  packages/cnpj-dv/tests/cnpj-check-digits.test.ts
Due: eslint --fix

feat(cnpj-dv): reject branch ID equals to "0000"
  packages/cnpj-dv/src/cnpj-check-digits.ts
  packages/cnpj-dv/tests/cnpj-check-digits.test.ts
Due: eslint --fix

feat(cnpj-dv): reject CNPJ with repeated digits
  packages/cnpj-dv/src/cnpj-check-digits.ts
  packages/cnpj-dv/tests/cnpj-check-digits.test.ts
Due: eslint --fix

refactor(cnpj-dv): drop unreachable check and error throwing
  packages/cnpj-dv/src/cnpj-check-digits.ts
  packages/cnpj-dv/src/exceptions.ts
  packages/cnpj-dv/src/index.cjs.ts
  packages/cnpj-dv/src/index.umd.ts
  packages/cnpj-dv/tests/cnpj-check-digits.test.ts
Due: eslint --fix

docs(cnpj-dv): update README
  packages/cnpj-dv/README.md
  packages/cnpj-dv/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

refactor(cpf-dv): drop unreachable check and error throwing
  packages/cpf-dv/src/cpf-check-digits.ts
  packages/cpf-dv/src/exceptions.ts
  packages/cpf-dv/src/index.cjs.ts
  packages/cpf-dv/src/index.umd.ts
  packages/cpf-dv/tests/cpf-check-digits.test.ts
Due: eslint --fix

test(cpf-dv): update coverage report
  packages/cpf-dv/tests/__coverage__/lcov.info
Due: none

docs(cnpj-dv): adjust wording
  packages/cnpj-dv/README.md
  packages/cnpj-dv/README.pt.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/br-utils/README.md')", git add ./packages/br-utils/README.md

chore: update deps
  bun.lock
  package.json
Due: none

ci: set explicitly registry URL
  .github/workflows/release.yml
Due: none

test(cnpj-dv): fix files names
  packages/cnpj-dv/tests/cnpj-check-digits.spec.ts
  packages/cnpj-dv/tests/utils.spec.ts
Due: eslint --fix

test(cpf-dv): fix files names
  packages/cpf-dv/tests/cpf-check-digits.spec.ts
  packages/cpf-dv/tests/utils.spec.ts
Due: eslint --fix

chore(cnpj-fmt): drop direct dependencies
  .changeset/curvy-hands-shop.md
  bun.lock
  packages/cnpj-fmt/package.json
Due: none

chore(cnpj-fmt): update package metadata
  packages/cnpj-fmt/package.json
Due: none

chore(cpf-dv): fix `test` script
  packages/cpf-dv/package.json
Due: none

chore(cnpj-dv): fix `test` script
  packages/cnpj-dv/package.json
Due: none

refactor(cpf-dv): prefix private class elements with "_"
  packages/cpf-dv/src/cpf-check-digits.ts
  packages/cpf-dv/tests/__coverage__/lcov.info
Due: eslint --fix

feat(cnpj-fmt): re-write source code to latests standards
  packages/cnpj-fmt/src/cnpj-fmt.ts
  packages/cnpj-fmt/src/cnpj-formatter-options.ts
  packages/cnpj-fmt/src/cnpj-formatter.ts
  packages/cnpj-fmt/src/exceptions.ts
  packages/cnpj-fmt/src/index.ts
  packages/cnpj-fmt/src/merge-options.ts
  packages/cnpj-fmt/tests/__coverage__/lcov.info
  packages/cnpj-fmt/tests/dist.test.ts
  packages/cnpj-fmt/tests/exceptions.test.ts
  packages/cnpj-fmt/tests/options.test.ts
  packages/cnpj-fmt/tests/output.spec.ts
Due: eslint --fix

refactor(cnpj-dv): prefix private class elements with "_"
  packages/cnpj-dv/src/cnpj-check-digits.ts
  packages/cnpj-dv/tests/__coverage__/lcov.info
Due: eslint --fix

feat(cnpj-fmt): create base errors classes
  packages/cnpj-fmt/src/exceptions.ts
  packages/cnpj-fmt/tests/exceptions.spec.ts
Due: eslint --fix

feat(cnpj-fmt): create utility functions to encapsulate complex logics
  packages/cnpj-fmt/src/utils.ts
  packages/cnpj-fmt/tests/utils.spec.ts
Due: eslint --fix

docs(cnpj-fmt): improve JSdocs
  packages/cnpj-fmt/src/exceptions.ts
Due: eslint --fix
